
/* ---------------------Default values---------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.App {
    width: 100vw;
    padding: 0 .5rem;
    display: grid;
    
}

/* ---------------------Header---------------------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f68;
    width: 100vw;
    height: 3rem;
    z-index: 999;
}

.nav {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-menu {
    position: absolute;
    right: 1rem;
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.nav-list {
    width: 70%;
    position: absolute;
    top: 4rem;
    font-size: 20px;
    background-color: #f68;
    padding: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    transform: translateY(-100vh);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, border-radius 2s ease-in-out ;
}

.show {
    opacity: 1.0;
    transform: translateY(0);
    border-radius: 5rem 0 5rem 3rem;
    z-index: 999;
}

.nav-item {
    color: #fff;
    text-align: center;
}

/* ---------------------Home---------------------- */

.photo-background {
    width: 100vw;
    height: 23rem;
    position: absolute;
    top: 3rem;
    left: 0;
    background-image: url('https://github.com/Glya-Corporation/galery-n/blob/main/64.jpg?raw=true');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bakground-f {
    filter: brightness(.7);
    top: 0;
}

.carousel {
    width: 150px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 0 30px #00000080;
}

.photo-profile {
    width: 150px;
    height: 180px;
}

.photo-profile>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-networks {
    position: absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-networks>img {
    width: 50px;
    height: 50px;
}

.home-description {
    margin-top: 28rem;
    text-align: center;
}

/* ---------------------Galery---------------------- */

.galery-container {
    position: relative;
}

.section--galery-filters {
    margin: 3rem 0;
    text-align: center;
}

.btn-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.btn-categories>button {
    font-size: 13px;
    background-color: transparent;
    border: transparent;
    border-left: .2px dashed #f68;
    border-right: .2px dashed #f68;
    transition: all .5s ease-in-out;
}

.category-selected {
    background-color: #f68 !important;
    color: #fff;
}

.section--galery-photos {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: 170px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.photo-nails {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 1rem;
}

.btn-ver {
    position: absolute;
    bottom: 1.5rem;
    padding: 0 2rem;
    border: transparent;
    border-radius: 1rem;
    background-color: #00000060;
    box-shadow: 0 0 10px #00000090;
    color: #fff;
    font-size: 18px;
}

.btn-close-photo {
    position: fixed;
    background-color: transparent;
    border: .5px solid #f68;
    border-radius: 50%;
    bottom: 1.5rem;
    right: 1.5rem;
    color: #f68;
    font-size: 45px;
    z-index: 900;
}

.photoCurrent {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 800;
    background-color: #fff;
}

.photoCurrent>img {
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 20px #000;
}